================================CSS=================================== main {
  position: relative;
}
.image {
  display: flex;
}
.menue {
  position: absolute;
}
.block {
  width: 140px;
  height: 150px;
  background: linear-gradient(to top, #333 0%, #666 30%, #333 100%);
  box-shadow: inset 2px 2px 5px 2px #333;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  margin-top: 2px;
  padding: 1rem;
  margin: 2rem;
}
.menue {
  top: 7rem;
  left: 5rem;
}
#block {
  width: 150px;
  height: 150px;
  background-color: red;
  position: absolute;
  top: 20rem;
  left: 0;
}
